* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}
:root {
    --primary: #615959;
    --secondary: #e4ffdd;
    --black: #000000;
    --White: #ffffff;
}
header{
    display: flex;
    background-color: var(--secondary);
    justify-content: left;
    align-items: center;
    height: 4rem;
}
header img{
    width: 2rem;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav a{
    scale: 1.2;
    margin: 0 1rem;
    color: var(--black);
    text-decoration: none;
}

main{
    min-height: 100vh;
}
.titulo{
   text-align: center; 
   justify-self: center; 
}
.index{
    display: flex;
    justify-content: center;
    align-items: center;
}

.futebol{
    scale:3;
    margin-top: 10rem;
}
.tabela{
    display: block;
}
.add{
    display: flex;
    justify-content: center;
    align-items: center;
}

.add a{
    color: var(--black);
    text-decoration: none;
    margin: 1rem;
}

.msg{
    text-align: center; 
   justify-self: center; 
}

table, tr, td, th{
    border-collapse: collapse;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid var(--black);
}
table {
    margin: auto;
}

fieldset{
    margin: auto;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
}

fieldset div{
    padding: 0.5rem;
}

