{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div class="message">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <a href="/jogos/add">Adicionar</a>
    </div>
    <table>
        <tr>
            <th>Nome</th>
            <th>Adversário</th>
            <th>Data</th>
        </tr>
        {% for j in jogos %}
        <tr>
            <td>{{j.jogos.nome}}</td>
            <td>{{j.adversario.nome}}</td>
            <td>{{j.data}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block rodape %}
    &copy; left
{% endblock %}