{% extends 'base.html' %}

{% block conteudo %}
{% set mensagens = get_flashed_messages() %}
{% if mensagens %}
{% for msg in mensagens %}
<div class="message">
    {{ msg }}
</div>
{% endfor %}
{% endif %}
<form action="/jogos/save" method="post">
    <div>
        <label for="nome">Nome: </label>
        <select name="time_id" id="nome">
            <option value=""></option>
            {% for t in times%}
            <option value="{{t.nome}}">{{t.nome}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="adversario">Adversário: </label>
        <select name="adversario" id="adversario">
            <option value=""></option>
            {% for t in times%}
            <option value="{{t.nome}}">{{t.nome}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="data">Data: </label>
        <input type="date" name="data" id="data">
    </div>
    <button type="submit">Salvar</button>
</form>

{% endblock %}