{% extends 'base.html' %}

{% block conteudo %}
{% set mensagens = get_flashed_messages() %}
{% if mensagens %}
{% for msg in mensagens %}
<div class="message">
    {{ msg }}
</div>
{% endfor %}
{% endif %}
<form action="/jogos/editasave" method="post">
    <input type="hidden" name="id" value="{{t.id}}">
    <div>
        <label for="nome">Nome: </label>
        <select name="time_id" id="nome">
            {% for t in times %}
            {% if t.id == time.id_time %}
            <option value="{{t.id}}" selected >{{t.nome}}</option>
            {% else %}
            <option value="{{t.id}}" >{{t.nome}}</option>
            {% endif %}
        {% endfor %}
    </div>
    <div>
        <label for="adversario">Adversário: </label>
        <input type="adversario" name="adversario" id="adversario">
    </div>
    <div>
        <label for="data">Data: </label>
        <input type="date" name="data" id="data">
    </div>
    <button type="submit">Salvar</button>
</form>

{% endblock %}