{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div class="message">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <a href="/jogos/add">Adicionar</a>
    </div>
    <table>
        <tr>
            <th>Nome</th>
            <th>Adversário</th>
            <th>Data</th>
            <th>Edita</th>
            <th>Remove</th>
        </tr>
        {% for j in jogos %}
        <tr>
            <td>{{j.time.nome}}</td>
            <td>{{j.adversario}}</td>
            <td>{{j.data}}</td>
            <td><a href="/jogos/edita/{{j.id}}">Editar</a></td>
            <td><a href="/medicamentos/remove/{{j.id}}">Remover</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block rodape %}
    &copy; left
{% endblock %}